<form [formGroup]="editUser" class="callout text-center">
  <h2>Edit Account</h2>
  <div class="floated-label-wrapper">
    <label for="firstName">First Name</label>
    <input [(ngModel)]="selectedUser.firstName" type="text" id="firstName" formControlName="firstName" required placeholder="{{selectedUser.firstName}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="lastName">Last Name</label>
    <input [(ngModel)]="selectedUser.lastName" type="text" id="lastName" formControlName="lastName" required placeholder="{{selectedUser.lastName}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="email">Email</label>
    <input [(ngModel)]="selectedUser.email" type="text" id="email" formControlName="email" required placeholder="{{selectedUser.email}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="username">Username</label>
    <input [(ngModel)]="selectedUser.username" type="text" id="username" formControlName="username" required placeholder="{{selectedUser.username}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="password">Password</label>
    <input [(ngModel)]="selectedUser.password" type="text" id="password" formControlName="password" required placeholder="{{selectedUser.password}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="title">Job Title</label>
    <input [(ngModel)]="selectedUser.title" type="text" id="title" formControlName="title" required placeholder="Title">
  </div>
  <div class="floated-label-wrapper">
    <label for="linkedin">LinkedIn url</label>
    <input [(ngModel)]="selectedUser.linkedin" type="text" id="linkedin" formControlName="linkedin" required placeholder="{{selectedUser.linkedin}}">
  </div>
  <div class="floated-label-wrapper">
    <label for="bio">Bio</label>
    <textarea [(ngModel)]="selectedUser.bio" type="text" id="bio" formControlName="bio" required placeholder="{{selectedUser.bio}}"></textarea>
  </div>
  <div class="floated-label-wrapper">
    <label for="image">Image URL</label>
    <input [(ngModel)]="selectedUser.image" type="text" id="image" formControlName="image" required placeholder="Image URL">
  </div>
  <div>
    <select [(ngModel)]="selectedUser.gender" formControlName="gender" required>
      <!-- <option>Choose Gender</option> -->
      <option name="Female" value="Female" ngDefaultControl>Female</option>
      <option name="Neutral" value="Neutral" ngDefaultControl>Neutral</option>
      <option name="Male" value="Male" ngDefaultControl>Male</option>
    </select>
  </div>
  <div>
    <fieldset>
      <legend>Identify if you are a mentor, mentee, or both:</legend>
      <input [(ngModel)]="selectedUser.mentor" formControlName="mentor" id="mentor" type="checkbox" ngDefaultControl><label for="mentor">Mentor</label>
      <input [(ngModel)]="selectedUser.mentee" formControlName="mentee" id="mentee" type="checkbox" ngDefaultControl><label for="mentee">Mentee</label>
    </fieldset>
  </div>
  <input (click)="beginUpdatedUser(selectedUser)" [disabled]="!editUser.valid" class="button expanded" type="update" value="Save">
  <input (click)="beginDeletingUser(selectedUser)" class="button expanded" type="delete" value="Delete">
</form>
