<div class="form-registration">
  <figure class="form-registration-img">
    <img src="http://nebula.wsimg.com/2d02aa46bcde8281724b1bfeeaccc6a1?AccessKeyId=75723DF1690EBF114831&disposition=0&alloworigin=1" alt="" />
    <figcaption class="form-registration-img-caption"></figcaption>
  </figure>
  <form class="form-registration-group" action="">
    <input class="form-registration-input" name="email" type="email" placeholder="Your email">
    <input class="form-registration-input" name="password" type="password" placeholder="Your password">
    <input class="form-registration-submit-button" name="login" type="submit" value="Log In">
    <input class="form-registration-submit-button" name="signup" type="submit" value="Sign Up">
    <input class="form-registration-submit-button hide" name="logOut" type="submit" value="Log Out">
  </form>
</div>
