<div class="top-bar">
  <div>
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu"><a routerLink="/">Home</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      <li><a routerLink="register">Join</a></li>
      <!-- <li><a routerLink="login">Login</a></li> -->
      <!-- <li><a routerLink="account">Account</a><li> -->
      <li><a routerLink="mentors">Mentors</a></li>
      <li><a routerLink="mentees">Mentees</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class='container'>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
<div class="row column" id="footer">
  <ul class="menu">
    <!-- <li><a routerLink="login">Login</a></li> -->
    <!-- <li><a routerLink="join">Join</a></li> -->
    <li><a routerLink="mentors">Mentors</a></li>
    <li><a routerLink="mentees">Mentees</a></li>
    <li><a routerLink="contact">Contact Us</a></li>
  </ul>
</div>
