<div class="row column">
  <div *ngIf="currentRoute === '/mentors'">
    <h3>Mentors</h3>
    <div class="row medium-up-3 large-up-4">
      <div class="column" *ngFor="let user of users | async">
        <div *ngIf="user.mentor === true">
          <img (click)="goToDetailPage(user)" class="thumbnail" alt= "user portrait" src="{{user.image}}">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentRoute === '/mentees'">
    <h3>Mentees</h3>
    <div class="row medium-up-3 large-up-4">
      <div class="column" *ngFor="let user of users | async">
        <div *ngIf="user.mentee === true">
          <img (click)="goToDetailPage(user)" class="thumbnail" alt= "user portrait" src="{{user.image}}">
        </div>
      </div>
    </div>
  </div>
</div>
