<div class="callout large">
  <div class="row column text-center">
    <h1>Always For The Better</h1>
    <p class="lead">Growing Ourselves and Others</p>
    <a href="#" class="button large">Learn More</a>
    <a href="#" class="button large hollow">Learn Less</a>
    <a href="#" class="button large hollow">Join Now</a>
  </div>
</div>
<div class="row" id="more">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="/assets/img/mentoring.jpg" alt="Mentoring Image">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>Mentoring </h2>
    <p>A relationship between two people with the goal of professional and personal development. The "mentor" is usually an experienced individual who shares knowledge, experience, and advice with a less experienced person, or "mentee." Post your profile with your offerings and needs, then connect with others who are a match.</p>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <h3>Mentor</h3>
    <p>An individual who has life experience and/or knowledge that acts as an advisor, counselor, or guide to a mentee for the purpose of providing support to, and feedback on, the individual in his or her charge. A mentor often has two primary functions for the mentee. The career-related function establishes the mentor as a coach who provides advice to enhance the mentee’s professional performance and development. The psychosocial function establishes the mentor as a role model and support system for the mentee. Both functions provide explicit and implicit lessons related to professional development as well as general work–life balance.</p>
    </div>
    <div class="medium-4 columns">
    <h3>Mentee</h3>
    <p>An individual with minimual or no experience and/or knowledge who may be in the role of “learner” in mentoring relationships, regardless of the age or position of the mentor and mentee as the mentee progresses on their professional journey. Needs may include: guidance in a general or specific professional area; a series of questions or issue; early or broad career developement; ethical and moral guidance; assistance in navigating profession settings, institutions, structure, and politics; and professional identity developement guidance.</p>
    </div>
    <div class="medium-4 columns">
    <h3>Relationship</h3>
    <p>The mentoring relationship is inherently flexible and can vary tremendously in its form and function. The mentoring relationship exists between one individual in need of developmental guidance and another individual who is both capable and willing to provide that guidance. Further, the mentoring relationship represents an important developmental relationship for the mentee as it supports and facilitates his or her professional development.</p>
  </div>
</div>
<hr>
<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a routerLink="mentor"><div class="stat">28</div><span>Mentors</span></a></li>
    <li><a href="#"><div class="stat">43</div><span>Mentees</span></a></li>
    <li><a href="#"><div class="stat">95</div><span>Connections</span></a></li>
  </ul>
</div>
<hr>
<div class="row column">
  <h3>Mentors and Mentees</h3>
</div>
<div class="row medium-up-3 large-up-4">
  <div class="column" *ngFor="let user of users">
    <img class="thumbnail" alt= "user portrait" src="{{user.image}}">
  </div>
  <div class="column">
    <img class="thumbnail" alt= "user portrait" src="https://placehold.it/550x550">
  </div>
  <div class="column">
    <img class="thumbnail" alt= "user portrait" src="https://placehold.it/550x550">
  </div>
  <div class="column">
    <img class="thumbnail" alt= "user portrait" src="https://placehold.it/550x550">
  </div>
  <div class="column">
    <img class="thumbnail" alt= "user portrait" src="https://placehold.it/550x550">
  </div>
</div>
<hr>
