<form [formGroup]="newUserForm" class="callout text-center">
  <h2>Let's Complete Your Profile</h2>
  <div class="floated-label-wrapper">
    <label for="password">Password</label>
    <input #newPassword type="text" id="password" formControlName="password" required placeholder="Password">
  </div>
  <div class="floated-label-wrapper">
    <label for="title">Job Title</label>
    <input #newTitle type="text" id="title" formControlName="title" required placeholder="Title">
  </div>
  <div class="floated-label-wrapper">
    <label for="linkedin">LinkedIn url</label>
    <input #newLinkedin type="text" id="linkedin" formControlName="linkedin" required placeholder="LinkedIn URL">
  </div>
  <div class="floated-label-wrapper">
    <label for="bio">Bio</label>
    <textarea #newBio type="text" id="bio" formControlName="bio" required placeholder="Bio, 100 word max"></textarea>
  </div>
  <div class="floated-label-wrapper">
    <label for="image">Image URL</label>
    <input #newImage type="text" id="image" formControlName="image" required placeholder="Image URL">
  </div>
  <div class="pull-left">
    <label for="gender">
      <select #newGender formControlName="gender" required>
        <option value="" disabled>Choose Gender</option>
        <option value="Female">Female</option>
        <option value="Neutral">Neutral</option>
        <option value="Male">Male</option>
      </select>
    </label>
  </div>
  <div>
    Identify if you are a mentor, mentee, or both:
    <fieldset>
      <input #newMentor formControlName="mentor" id="mentor" type="checkbox"><label for="mentor">Mentor</label>
      <input #newMentee formControlName="mentee" id="mentee" type="checkbox"><label for="mentee">Mentee</label>
    </fieldset>
  </div>
  <input (click)="submitForm()" [disabled]="!newUserForm.valid" class="button expanded" type="submit" value="Sign Up">
</form>
<div>
  <app-user></app-user>
</div>
