<form class="callout text-center">
  <h2>Become A Member</h2>
  <div class="floated-label-wrapper">
    <label for="full-name">Full name</label>
    <input #newName type="text" id="full-name" name="full name input" placeholder="Full Name">
  </div>
  <div class="floated-label-wrapper">
    <label for="title">Job Title</label>
    <input #newTitle type="text" id="title" name="title input" placeholder="Title">
  </div>
  <div class="floated-label-wrapper">
    <label for="linkedin">LinkedIn url</label>
    <input #newLinkedin type="text" id="linkedin" name="linkedin input" placeholder="LinkedIn URL">
  </div>
  <div class="floated-label-wrapper">
    <label for="bio">Bio</label>
    <input #newBio type="text" id="bio" name="bio input" placeholder="Bio, 100 word max">
  </div>
  <div class="floated-label-wrapper">
    <label for="image">Image URL</label>
    <input #newImage type="text" id="image" name="image input" placeholder="Image URL">
  </div>
  <div class="row">
    <fieldset class="large-12 columns">
      <legend>Identify if you are a mentor, mentee, or both:</legend>
      <input #newMentor id="mentor" type="checkbox"><label for="mentor">Mentor</label>
      <input #newMentee id="mentee" type="checkbox"><label for="mentee">Mentee</label>
    </fieldset>
  </div>
  <input (click)="submitForm(newName.value, newTitle.value, newImage.value, newLinkedin.value, newBio.value, newMentor.value, newMentee.value); newName.value=''; newTitle.value=''; newImage.value=''; newLinkedin.value=''; newBio.value=''; newMentor.value=''; newMentee.value=''" class="button expanded" type="submit" value="Sign Up">
</form>

<script src="/account.component.js"></script>
